@import "../abstracts/app-variables";

$mobileNavHeight: 6.6rem;

.container-form {
    margin-top: $paddingNormal;
    background-color: $backgroundColorLight;        
}

.list-container-fluid {
    padding: 0;
    position: absolute;
    top: $containerMargine;
}

.row-list {
    position: relative;    
    margin: 0;
} 

.nav-items {    
    list-style-type: none;
    margin: 0;    
    padding: $paddingNormal;
    
    .nav-item {        
        padding-left: $paddingSmall;
        padding-left: $paddingSmall;
    }
}

.container-header{
    text-align: center;
    padding-top: $paddingNormal;
    padding-bottom: $paddingNormal;
    color: $btnSecondColorDark;
    
    .container-header-block {
        padding-top: $paddingSmall;
        padding-bottom: $paddingSmall;
    }
}

.clear-all {
    @include clear-all;
}

@media screen and (max-width: 990px) {
    .container-form {
        margin-top: 0;
    }

    .list-container-fluid {
        top: $mobileContainerMargine;
    }

    .row-list {        
        @include clear-all;
    }   

}