@import "../abstracts/app-variables";


.list-container-fluid {
    padding: 0;
    position: absolute;
    top: $containerMargine;
}

.row-list {
    position: relative;    
    margin: 0;
} 

.container-header{
    text-align: center;
    padding-top: $paddingNormal;
    padding-bottom: $paddingNormal;
    color: var($colorWeatherMain);
    
    .container-header-block {
        padding: $paddingNormal;
    }

    .row-block-center {
        justify-content: center;        
    }

    .current-weather{        
        .widget-i, h2 {
            color: var($colorMainMobile);
        }
    }

    .card-block-list{
        color: var($colorPrimary);
        .widget-i{
            color: var($colorPrimary);

            &:hover {
                color: var($colorLight);    
            }
        }
    }
}

.block-right {
    display: inline-flex;
    justify-content: center;
}

.clear-all {
    @include clear-all;
}

@media screen and (max-width: 990px) {    
    .list-container-fluid {
        top: $mobileContainerMargine;
    }

    .row-list {        
        @include clear-all;
    }

    .container-header {
        .container-header-block {
            text-align: center;
            justify-content: center;

            h3, h4 {
                display: inline-flex;
            }
            h2 {
                margin-bottom: 0;                
            }
        }
    
        .current-weather{
            color: var($colorMainMobile);
        }

        .block-left {
            text-align: center;
        }

        .card-block-list{
            color: var($colorMainMobile);
            .widget-i{
                color: var($colorMainMobile);
            }
        }
    }
        
}

@media screen and (max-width: 580px) {
    .container-header {
        .block-right {            
            justify-content: flex-end;
        }
    }

    .container-header {
        .block-left {
            text-align: start;
        }
    }
}