@import "../abstracts/app-variables";

$mobileNavHeight: 6.6rem;

.container-form {
    @include box-shadow;
    @include container-border;
    margin-top: $paddingNormal;
    background-color: $backgroundColorLight;        
}

.list-container-fluid {
    padding: 0;
    position: absolute;
    top: $containerMargine;
}

.row-list {
    position: relative;    
    margin: 0;
    padding: $paddingSmall;
} 

.nav-items {
    display: inline-flex;
    list-style-type: none;
    margin: 0;    
    padding: calc(#{$paddingSmall} * 2);    
    // position: absolute;    
    text-align: center;
    left: 0;
    top: $containerMargine;    
    z-index: 1000;
    
    // .nav-item {        
    //     padding-bottom: $paddingSmall;
    // }
}

.clear-all {
    @include clear-all;
}

@media screen and (max-width: 990px) {
    .container-form {
        margin-top: 0;
    }

    .list-container-fluid {
        top: $mobileContainerMargine;
    }

    .row-list {        
        @include clear-all;
    }
    
    // .nav-items {
    //     position: fixed;
    //     top: auto;
    //     left: 0;
    //     bottom: 0;
    //     display: flex;
    //     width: 100%;
    //     height: $mobileNavHeight;
    //     padding: $paddingExSm;        
    //     background-color: $btnColorDark;
    //     color: $btnActiveColor;
    //     text-align: center;
    //  }

}