@import "../abstracts/app-variables";

@mixin button-hover($backgroundColor: $btnColorDark, $color: $btnActiveColor) {    
    background-color: $backgroundColor;
    color: $color;
    cursor: $cursor;
}

@mixin sprite-icon($url, $left, $top) {
    width: 24px;
    height: 14px;
    background: url($url) $left $top;
    display: inline-block;    
}

@mixin button-round($diameter: $btnDiameter, $color: $btnColor, $background-color: $btnActiveColor) {
    background-color: $background-color;
    color: $color;
    margin-bottom: auto;
    margin-top: auto;
    height: $diameter;
    width: $diameter;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;     
}

button {
    cursor: default;
}

a:hover {
    cursor: $cursor;
}

.btn-close {    
    @include button-round(2.8rem);
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: -.5rem;    
    padding: 1rem 1rem;
    font-size: 1.6rem;
    opacity: .5;

    span {
        position: absolute;
        padding-bottom: $paddingExSm;
    }
    &:hover:not([disabled]) {
        @include button-hover($btnSecondColorDark);                     
    }
}

.btn-cancel {
    @include button-round(2.8rem);        

    &:hover:not([disabled]) {
        @include button-hover($btnWarnColor);      
    }
}

.btn-submit {    
    @include button-round(2.8rem, $btnColorDark);     

    &:hover:not([disabled]) {
        @include button-hover;      
    }
}

.btn-card-add {    
    @include button-round(2.8rem, $btnActiveColor);    
        
    &:hover{
        @include button-hover($btnColorLight);
    }
}
            
.btn-card-edit {
    @include button-round(2.8rem);

    &:hover:not([disabled]) {
        @include button-hover($btnEditColor);      
    } 
}

.btn-plus{
    @include button-round;    
    margin: auto;
    
    &:hover{
        @include button-hover;       
    }
}

.btn-sm-icon {
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
   
    &:active {
        position: relative;
        top: 1px;
    }      
}

.maps-link{
    color: $btnColor;
    font-size: $fontSize;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        cursor:$cursor;
        color: $btnWarnColor; 
    }
}

#save-i {
    @include sprite-icon('/assets/sprite-icone.png', -281px, 0);    
}

@media screen and (max-width: 800px) {
    .btn-sm-icon, .btn-card-edit, .btn-card-add, btn-close, .btn-cancel, .btn-submit {
        @include container-border;
    }
    
    .btn-plus-mobile{
        @include button-round($btnDiameter, $btnActiveColor, $btnColorDark);
        @include container-border;
            
        &:hover{
            @include button-hover($btnColorLight);
        }
    }
}
