@import "../abstracts/app-variables";

@mixin button-hover($backgroundColor: var($colorDark), $color: var($activeColor)) {    
    background-color: $backgroundColor;
    color: $color;
    cursor: $cursor;
}

@mixin sprite-icon($url, $left, $top) {
    width: 24px;
    height: 14px;
    background: url($url) $left $top;
    display: inline-block;    
}

@mixin button-round($diameter: $btnDiameter, $color: var($colorPrimary), $background-color: var($colorLight)) {
    background-color: $background-color;
    color: $color;
    margin-bottom: auto;
    margin-top: auto;
    height: $diameter;
    width: $diameter;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;   
}

button {
    cursor: default;
}

a:hover {
    cursor: $cursor;
}


.btn-card-add {    
    @include button-round(2.8rem);    
        
    &:hover{
        @include button-hover;
    }
}

.btn-plus{
    @include button-round;    
    margin: auto;
    
    &:hover{
        @include button-hover;       
    }
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

.btn-sm-icon {
    font-size: 1.5rem;
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
   
    &:active {
        position: relative;
        top: 1px;
    }      
}

.maps-link{
    color: var($colorPrimary);
    font-size: $fontSize;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        cursor:$cursor;
        color: var($warnColor); 
    }
}

.widget-i {
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {    
    
    .btn-plus-mobile{
        @include button-round($btnDiameter, var($activeColor), var($colorDark));        
        @include container-border;
            
        &:hover{
            @include button-hover(var($colorLight), var($colorDark));
        }
    }
}
