@import "../abstracts/app-variables";

$mobileCardPlusHeight: 6.7rem;

@mixin app-card {    
    min-width: $cardMinWidth;
    min-height: $cardMinHeight;
    height: 100%;
    border-radius: 0px;
}

.app-card {
    @include app-card;
    
    h6{
        padding-top: 1.6rem;
    }

    h5 {
        overflow: hidden;
        overflow-wrap: normal;
    }

    p {
        margin: 0;
    }

}

.card-plus {
    @include app-card;
    
    border: none;
    box-shadow: none;
    background-color: transparent;

    .justify-content {
        display: flex;
        justify-content: center;
    }
}

.card-block-left {
    margin-top: auto;
    margin-bottom: auto;
    padding: $paddingSmall 0 $paddingSmall $paddingSmall;    
}

.card-block {
    .card-text {
        white-space: break-spaces;
    }
}

.card-block-list {
    @include clear-all;    
    list-style-type: none;
    align-items: center; 
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    li {
        text-align: center;
    }
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: $paddingNormal 0;    
    background-color: transparent;

    >* {    
        margin-right: 0.25rem;
        margin-left: 0.25rem;    
    }
}

.card-title {    
    margin: 0;
    padding: $paddingNormal 0;
}

.row-max-height {
    height: 100%;
}

@mixin card-background-color {    
    background-image: linear-gradient(180deg, var($colorDarkSecondary), var($backgroundColorWidget));
    background-size: cover;
}

.widget-card {
    @include app-card;
    font-weight: 300;
    border: none;
    min-width: auto;
    min-height: auto;
    padding: $paddingNormal;
    background-color: var($backgroundColorWidget);
    color: var($colorWidget);

    .card {
        border-radius: 0;
        border: none;

        .collapse, .show {
            max-height: 0;
            transition: max-height 0.4s ease-in-out;
        }
        
        .collapse:not(.show) {
            display: block;
            max-height: 0;   
        }
        
        .show {
            display: block;
            max-height: $cardMinWidth;    
        }
    }

    .card-body {
        padding: 0;        
        text-align: center;       
    }
    
    .block-info {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    .block-widget {
        font-size: $widgetFontSize; 
        padding: $paddingNormal 0;
        padding-top: 0;
    }

    .block-widget-bottom {        
        padding-bottom: 0;
    }
    
    .card-link {
        color: var($colorWidget);
        h5 {
            font-weight: 400;
        }
        .card-block > h5 {
            font-weight: 400;                
        }
    }

    &:hover {
        opacity: 0.9;            
    }
}


@media screen and (max-width: 900px) {
    .card-block-left {
        text-align-last: end;
    }

    .card-plus {
        margin-bottom: $mobileCardPlusHeight;
        min-height: $mobileCardPlusHeight;
        height: $mobileCardPlusHeight;
    }

    .widget-card {
        padding-left: 0;
        padding-right: 0;
    }
    
}

@media screen and (max-width: 580px) {
    .card-block {
        padding-left: 5px;
    }

    .card-body{
        text-align: start;
    }

    .card-subtitle{
        margin: auto;
        margin-left: 0;
    }
    
    .card-title {
        margin-right: auto;               
    }

    .card-block > h6 {
        padding-left: 5px;
    }

    .card-block > h5 {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.1rem;
        text-align: start;
        line-break: loose;
    }

    .card-body, .block-widget{
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        
        .block-widget-bottom{
            align-items: center;
        }

        .card-subtitle{
            margin: auto;
            margin-left: 0;
        }
    }
}