@import "../abstracts/app-variables";

.modal {    
    @include modal-background-color;
}

.show {
    display: block;
}

.modal-title {
    margin-top: auto;
    margin-bottom: auto;
}

.modal-dialog {
    max-width: $modalMaxWidth;
    min-width: $modalMinWidth;
    border-radius: 0; 
}

.modal-content {
    border-radius: 0;    
}

.custom-file > label {
    border-radius: 0;
}



@media screen and (max-width: 800px) {
    .modal-content {
        align-items: center;
    }
    .modal-header {
        width: 100%
    }
}