<div class="container">
    <div class="row row-list">          
        <ng-container *ngFor="let weather of forecast; trackBy: trackByFn">            
            <div class="col-sm card-wrap">
                <div class="card widget-card">
                    <div class="card-body">          
                        <div class="card-block block-widget">
                            <h5 class="card-title">{{weather.day | date: "MMM d, y"}}</h5>
                            <h6 class="card-subtitle">{{roundTemperature(weather.temperature)}} {{weather.tempUnit}}</h6>
                        </div>                
                        <div class="card-block">
                            <div class="card-block block-widget">                                
                                <i class="widget-i {{setWeatherIcon(weather.weatherIcon, weather.temperature)}}"></i>
                                <h6 class="card-title">{{weather.weatherText}}</h6>          
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </ng-container>
    </div>
</div>
