@import "layout/containers";

.container-fluid {
    padding-bottom: $paddingNormal;
}

.card-wrap {
    padding: 5px;
}
.container-header{
    text-align: center;
    padding-top: $paddingNormal;
    padding-bottom: $paddingNormal;
    color: $btnActiveColor;
    
    h3 {
        margin: 0
    }
}