
$errorMessageColor: #cc0000;
$boxShadowColor: #3d4851; // #875e5e; ??
$backgroundColor: #f4f5f5;
$backgroundColorLight: #ffffff;

$font: "font-family: 'Open Sans', sans-serif";
$fontSize: 16px;
$mobileFontSize: 15px;
$widgetFontSize: .9rem;
$cursor: pointer;
$paddingNormal: .9rem;
$paddingSmall: .6rem;
$paddingExSm: 5px;
$paddingLarge: 2rem;

$inputDisabled: rgb(233, 236, 239);
$inputBorderColor: rgba(73, 80, 87, 0.5);
$inputLineHeight: 1.1rem;

$cardMinWidth: 300px;
$cardMinHeight: 300px;
$modalMaxWidth: 450px;
$modalMinWidth: 250px;


$btnColorDark: #91212a;
$btnColorLight: #cd2f3b;
$btnSecondColorDark: #595959;
$btnWarnColor: #e74c3c;
$btnEditColor: #26734d;
$btnColor: #212529;
$btnActiveColor: #ffffff;

$btnDiameter: 3.75rem;
$containerMargine: 5rem;
$mobileContainerMargine: 7rem;

@mixin box-shadow {
    box-shadow: 0 1px 10px rgba(61,72,81,0.4);
}

@mixin main-background-color {    
    background-image: linear-gradient(180deg, #68181e, #cd2f3b);
    background-size: cover;
}

@mixin container-border {
    border: 1px solid #91212a;
}

@mixin modal-background-color {
    background-color: rgba(0,0,0,0.4);
}

@mixin clear-all {
    margin: 0;
    padding: 0;
}