@import "abstracts/app-variables";
@import "layout/containers";

.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    background-image: var($backImgUrl);
    background-size: cover;
    background-color: var($backgroundColorNavSearch);
  
    a {
      margin: auto;    
      color: #ffffff;
      text-decoration: none;
      border: 1px solid #ffffff;
      padding: $paddingNormal $paddingLarge;  
      text-transform: uppercase;
      display: block;
      
      h2 {
        margin: 0;
        font-weight: 400;
      }
    }  
  }

  @media screen and (max-width: 800px) {
    .container-fluid {
      a {
        border: 5px solid var($activeColor);

        h2 {        
          font-weight: 600;
        }
      }      
    }
  }
  