@import "abstracts/app-variables";
@import "layout/containers";

.container-fluid {
    height: 100%;
    display: flex;      
    justify-content: center;
    text-align: center;
    @include main-background-color;
  
    a {
      margin: auto;    
      color: #fff;
      text-decoration: none;
      border: 1px solid #ccc;
      padding: $paddingNormal $paddingLarge;  
      text-transform: uppercase;
      display: block;
      
      h2 {
        margin: 0;
        font-weight: 400;
      }
    }  
  }