@import "abstracts/app-variables";
@import "components/form";
@import "components/button";
@import "layout/containers";


.container-header {
    background-image: var($backImgUrl);
    background-size: cover;
    background-color: var($backgroundColorNavSearch);
}

.container-header-icon {    
    span {
        white-space: break-spaces; 
    }       
}

.card-link:hover {
    color: var($colorLight);
}

.block-left {
    h3 > span{
        padding-left: 5px;
    }
}

.card-block-list {
    padding: 15px;
    li {
        font-size: .8rem;

        .card-link:hover {
            color: var($colorLight);    
        }
    }
    .widget-i, .fas {
        font-size: .8rem; 
    }
}

.heigh {
    color: orange;
}
.very-height {
    color: red;
}
.extreme {
    color: violet
}

.toggle-button {
    width: 80px
}

@media screen and (max-width: 800px) {
    .card-block-list {
        padding-top: 5px;
    }
}