<nav-search></nav-search>

<div class="container-fluid" [@fadeInAnimation]=''>
    <ng-container *ngIf="(details$ | async) as details">
        <div class="container-header">
            <div class="row clear-all">
                <div class="col-md-6 col-sm-6 col-12 col-lg-6 container-header-block">
                    <h3>{{details.locationName}}</h3>
                    <h4>{{details.currentCondition.temperature}} {{details.currentCondition.tempUnit}}</h4>                        
                </div>
                <div class="col-md-6 col-sm-6 col-12 col-lg-6 container-header-block">
                    <button class="btn btn-small btn-plus btn-plus-mobile" (click)="updateFavorite(details)" aria-label="Bookmark">                           
                        <i class="{{setFavoriteIcon(details.isFavorite).icon}}"></i>
                    </button>
                    <span>{{setFavoriteIcon(details.isFavorite).caption}}</span>
                </div>
                <div class="col-md-12 col-sm-12 col-12 col-lg-12 container-header-block">                    
                    <i class="widget-i {{setWeatherIcon(details.currentCondition.weatherIcon, details.currentCondition.temperature)}}"></i>                    
                    <h2>{{details.currentCondition.weatherText}}</h2>
                </div>
            </div>
        </div>
        
        <forecast [forecast] = "forecast$ | async"></forecast>
        
    </ng-container>
    <ng-container *ngIf="!(details$ | async)">Loading...</ng-container>
</div>