@import "abstracts/app-variables";
@import "components/form";
@import "components/button";
@import "layout/containers";


.btn-card-add {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .container-fluid {
        padding: 0;
    }
}