@import "./styles/main";

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var($backgroundColorPrimary);    
    height: 100%;  
  }

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    @include spread-map($theme-map-light);
}

.app-body {
    background-color: var($backgroundColorPrimary);    
    height: 100%;
}


@media only screen and (max-width: 800px) {
    html {
        font-size: 15px;
    }       
}