<div class="container search-container justify-content-center">

  <ng-container *ngIf="(locations$ | async) as locations">
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="locations"
        [searchKeyword]="keyword"
        placeHolder="Enter City Name"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)'
        historyIdentifier="locations"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]=""></div>
      </ng-template>
    </div>
  </ng-container>
</div>