@import "abstracts/app-variables";
@import "components/form";

.navbar {
    @include input-border;
}

.container-flex {
    display: block;

}

.ng-autocomplete{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
