@import "abstracts/app-variables";
@import "components/form";

.navbar {
    @include input-border;
}

.search-container {
    padding: $paddingNormal; 
    background-color: var($backgroundColorNavSearch);
}

.ng-autocomplete{
    width: 250px;
    margin-left: auto;
    margin-right: auto;    
    transition: width 0.4s linear;
}

.ng-autocomplete:hover{
    width: 500px;
    transition: width 0.4s linear;
}


@media screen and (max-width: 800px) {
    .ng-autocomplete:hover{
        width: 100%;
        transition: width 0.4s linear;
    }
}
