@import "components/button";
@import "layout/containers";

:host {
    padding: 0;
    width: 100%;    
    background-color: transparent;
    color: var($colorDarkSecondary);
}

.nav-right{
    margin-left: auto;
    .nav-item{
        text-align: center;
    } 
}

.navbar-brand {    
    font-size: 2rem;   
}