<ul class="navbar nav-items w-100">
  <div class="container">
    <span class="navbar-brand mb-0 h1">{{header}}</span>
    <div class="d-flex nav-right">
      <li class="nav-item">
        <a href="#" [routerLink]="['/home']" class="btn-plus btn-plus-mobile" aria-label="Home">
          <i class="fas fa-home"></i>
        </a>
        Home
      </li>
      <li class="nav-item">
        <a href="#" [routerLink]="['favorites']" class="btn-plus btn-plus-mobile" aria-label="Favorites">
          <i class="fas fa-bookmark"></i>
        </a>
        Favorites
      </li>
      <li class="nav-item">
        <button class="btn btn-plus btn-plus-mobile" (click)="toggleTheme()" aria-label="Theme">
          <i class="{{setToggleIcon()}}"></i>          
          <!-- <i class="fas fa-toggle-on" *ngIf="toggleOn"></i>
          <i class="fas fa-toggle-off" *ngIf="!toggleOn"></i>           -->
        </button>
        Theme        
      </li>
    </div>
  </div>  
</ul>